*{
margin:0;
padding:0;
}
body{

background-image:url(s2.jpeg);
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family:sans-serif;
color: #fff;
top:80%;

}


.sign-up-form{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
}
.sign-up-form h1{
font-size: 70px;
text-align: center;
text-transform: uppercase;
margin: 20px 0;}
.sign-up-form p{
font-size: 20px;
margin: 15px 0;

}
.sign-up-form input{
font-size: 15px;
width: 100%;
padding: 10px 10px;
border-radius: 20px;

}
.sign-up-form input:hover{
background: #D0D0D0;}

.login-btn{
margin: 40px auto 20px;
width: 80%;
display: block;
outline: none;
padding: 10px 0;
border: 1px solid #fff;
cursor: pointer;
border-radius: 30px;
backing: transparent;
colour: #fff;
font-size: 16px;
}
.login-btn:hover{
background: #20B2AA;
  }

.eye{

position: absolute;
left: 93%;
padding: 9px;
color: #000000;


}
#hide1{
display: none;}
.login-btn{
margin: 40px auto 20px;
width: 80%;
display: block;
outline: none;
padding: 10px 0;
border: 1px solid #fff;
cursor: pointer;
backing: transparent;
colour: #fff;
font-size: 16px;
}
#hide3{
display: none;}
 input.largerCheckbox {
            
            vertical-align: middle;
            position: relative;
            bottom: 1px;
            width: 40px;
            height: 40px;
            margin: 20px;

          
          }
 
fieldset label{
padding-top: 25px;
display: block;

width: 290px;
margin-bottom: 10px;}
label {
            display: block;
        }

fieldset{
display: none;
}
#myDIV {
  width: 100%;
  padding: 5px 0;
display: none;
  text-align: center;
  color: 	#FF0000;
  margin-top: 5px;
}
#preloader{
background: #000 url(image/gif.gif) no-repeat center center;
background-size: 25%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
}